*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #F0803C;
    --second-color: #F7EDE6;
    --third-color: #F6DECE;
    --accent-color: #E35E39;
    --progesse-bar: #F0803C;
    --first-line: #ffc39d;
    --letter-spacing: 1px;
    --font-bold: bold;
    --font-regular: regular;
}

html, body{
    height: 100%;
    font-size: 100%;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
}

#container{
    width: 90%;
    border-radius: 30px;
    background-color: var(--third-color);
}

.image-container{
    padding-top: 10px;
    margin: auto;
    width: 95%;
}

.image-container img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.music-player{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.song-info .title-song{
    font-size: 1.3em;
    letter-spacing: var(--letter-spacing);
    font-weight: var(--font-bold);
    color: var(--main-color);
}

.song-info .artist-name{
    font-weight: var(--font-regular);
    letter-spacing: var(--letter-spacing);
    color: var(--main-color);
}

.song-progress{
    margin-top: 30px;
    width: 100%;
}

.first-line{
    position: relative;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--first-line);
}

.second-line{
    position: absolute;
    height: 4px;
    width: 50%;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
    border-radius: 5px;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 30px auto
}

.shuffle-button,
.previous-song-button,
.play-button,
.next-song-button,
.repeat-button{
    cursor: pointer;
}

@media screen and (min-width: 380px){
    #container{
        width: 340px;
        height: 450px;
    }
}