*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: #F0803C;
    --second-color: #F7EDE6;
    --third-color: #F6DECE;
    --accent-color: #E35E39;
}

html, body{
    height: 100%;
    font-size: 100%;
}

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-color);
}

#container{
    width: 90%;
    height: 500px;
    border-radius: 30px;
    background-color: var(--third-color);
}

.image-container{
    padding-top: 10px;
    margin: auto;
    width: 95%;
}

.image-container img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}





@media screen and (min-width: 380px){
    #container{
        width: 340px;
        height: 500px;
    }
}